{{ template "header" . }}

<div class="grid grid-cols-2 md:grid-cols-3 gap-4 mb-7">
    {{ range .Images }}
    <div>
        <a href="/gallery/{{.GalleryId}}/images/{{.FileName}}">
            <img class="h-auto max-w-full rounded-lg" src="/gallery/{{.GalleryId}}/images/{{.FileName}}"
            alt="{{.FileName}}">
        </a>
    </div>
    {{end}}
</div>

{{ template "footer" . }}