{{ template "header" .}}


<section class="bg-white dark:bg-green-400">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Home Page</h1>
    </div>
</section>


{{ template "footer" .}}